<div>
  <mat-toolbar color="primary">
    <span>Tag Selector</span>
    <span class="spacer"></span>
    <mat-slide-toggle [(ngModel)]="isEditMode">Edit mode</mat-slide-toggle>
    <button (click)="logout()" mat-icon-button>
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <div class="content">
    <mat-form-field class="full-width">
      <mat-chip-list #chipCategoryList>
        <mat-chip *ngFor="let category of categories$ | async; trackBy: trackByFn"
                  (click)="selectedCategory$.next(category.id)"
                  [selected]="category.id === (selectedCategory$ | async)"
                  color="accent"
                  [removable]="false">{{category.title}}
          <mat-icon matChipRemove (click)="removeCategoryEvent$.next(category.id)" *ngIf="isEditMode">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Categories" [matChipInputFor]="chipCategoryList"
               (matChipInputTokenEnd)="addCategoryEvent$.next($event.value); $event.input.value = ''">
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-chip-list #chipList [multiple]="true">
        <mat-chip *ngFor="let tag of tags$ | async"
                  (click)="selectTag(tag)"
                  [removable]="false"
                  [selected]="hasTag(tag.id)">{{tag.name}}
          <mat-icon matChipRemove (click)="removeTag(tag)" *ngIf="isEditMode">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Tags" [matChipInputFor]="chipList"
               (matChipInputTokenEnd)="addTagEvent$.next($event.value); $event.input.value = ''">
      </mat-chip-list>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addAllEvent$.next()" class="add-all-btn">Add all</button>
    <div >
      <mat-checkbox [(ngModel)]="hasComma">Comma separated</mat-checkbox>
      <mat-checkbox [(ngModel)]="hasHashtag">Add hashtag</mat-checkbox>
    </div>
    <mat-form-field class="full-width">

      <textarea matInput value="{{getTagsText(selectedTags, hasComma, hasHashtag)}}" placeholder="Result"  #inputTarget></textarea>
      <mat-hint>{{selectedTags.length}} tag{{selectedTags.length === 1 ? '' : 's'}}</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" ngxClipboard [ngxClipboard]="inputTarget">Copy</button>
    <button mat-raised-button color="primary" (click)="clearAll()">Clear all</button>
  </div>
</div>
